<h2>Búsqueda: plusvalia.com</h2>

<table class="ui five column table">
  <thead>
    <tr>
      <th>Título</th>
      <th>Descripción</th>
      <th>Imagen</th>
      <th>Precio</th>
      <th>Ubicación</th>
    </tr>
  </thead>
  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.title %></td>
        <td style="height: 50px"><%= property.desc %></td>
        <td><%= image_tag property.image %></td>
        <td><%= property.price %></td>
        <td>None</td>
      </tr>
    <% end %>
  </tbody>
</table>
